.item--selector {
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item-selector__container{
    width:100%;
   
}

@media screen and (max-width: 850px){
    .item-selector__container{
        grid-template-columns: 1fr;
    }
}