.item {
    width: 90%;
    margin: 2.5%;
    padding: 8px;
    display: grid;   
    grid-template-columns: 60% 40%;
    border: 1px solid black;
}

.item:hover {
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}

.item--info {
    display: flex;
    flex-direction: column;
}

.item--description {
    height: 90%;
}

.item--price {
    background-color: ;
}

img{
    width: 100%;
}