.family--selector{
    text-align: center;
}

.family--selector__header {
    padding: 5px;
    margin: 30px;
}

.family-selector__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.family-selector__item {
    margin: 15px;
}

